body{
    margin:0px;
    padding:0px;
    background-color: black;
    display:flex;
    align-items:center;
    margin-left:1000px;
    margin-top:-500px;
}
.parent{
    display:inline-flex;
}
.credit{
    width:800px;
    height:500px;
    background-image: linear-gradient(to right, rgb(219, 97, 195) , blue);
    border-radius: 25px;
}
.img{
    margin:0px;
    padding:0px;
    display:flex;
    align-items: center;
}
.text{
    color:white;
    text-align:left;
    font-size:50px;
    margin-left:40px;
}
.back{
    width:800px;
    height:500px;
    background-image: linear-gradient(to right, rgb(219, 97, 195) , blue);
    border-radius: 25px;
    margin-top:50px;
}
.block{
    margin-top:50px;
    width:800px;
    height:80px;
    background-color: rgb(0, 0, 0);
}
.block2{
    width:550px;
    height:60px;
    background-image: repeating-linear-gradient(rgb(218, 212, 212), rgb(187, 186, 186) 10%, rgb(218, 217, 217) 20%);
    align-items:center;
    margin-left:50px;
}
.block22{
    width:70px;
    height:47px;
    background-color:whitesmoke;
    margin-top:7px;
    font-size:37px;
}
.blocks{
    display:flex;
}
.down{
    display:inline-flex;
}